/*************************************/
/* RESET DEFAULTS AND BASIC SETTINGS */
/*************************************/
	html, body, div, span, p, blockquote, pre, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, label, input, img, textarea, table, caption, tbody, tfoot, thead, tr, th, td, blockquote, cite {
		margin: 0;
		padding: 0;
		border: 0;
		font-family: 'Open Sans', Arial, Helvetica;
		/*font-weight: 400;
		font-size: 9pt;*/
	}
	
	select, .ui-widget select, .ui-widget input {
		font-family: 'Open Sans', Arial, Helvetica;
	}

	html {
		width: 100%;
		height: 100%;
		font-size: 75%;
		color: #373737;
	}
	
	body.common {
		color: #333333;
		line-height: 1.5;
		min-width: 980px;
		font-size: 100%;
		margin: 0;
		padding: 0;
	}

	textarea, input, select {
		font-size: 100%;
		border: 1px solid #bcbcbc;
		padding: 2px;
		color: #000;
	}

	h1, h2, h3, h4, h5, h6 { 
		font-family: 'Francois One', Arial, Helvetica, sans-serif !important;
		font-weight: 400 !important;
	}

	h2 {
		font-size: 150%;
		color: #2C6193;
		margin-bottom: 10px;
	}

	h3 {
		font-size: 130%;
		color: #4D4D4D;
		margin-bottom: 10px;
	}

	p {
		font-size: 100%;
		line-height: 150%;
		margin-bottom: 5px;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
	
	ul li {
		list-style-type: none;
	}

	a, a:visited, a:active {
		text-decoration: none;
		color: #005D9C;
		outline: none;
	}
	
	a:hover {
		cursor: pointer;
		text-decoration: underline;
	}
	
	
/************************/
/* HEADER, FOOTER & NAV */
/************************/
	header, nav, nav ul {
		white-space: nowrap;
		display: table;
	}
	
	header {
		font-size: 12px !important;
	}

	#logo {
		font-family: 'Francois One', Arial, Helvetica, sans-serif !important;
		font-weight: 400 !important;
		font-size: 15pt !important;
		cursor: default;
	}
	
	#override_role {
		border-color: dimgray;
		background-color: lightcyan;
		margin: 2px;
	}
	
	#footer-arrow {
		float: right;
		height: 14px;
		background: url('../img/footer-arrow.gif') no-repeat right top;
		padding-right: 0px;
		margin-top: 49px;
		margin-right: 50px;
		padding-top: 20px;
		color: #fff;
	}

	#footer-arrow p {
		text-align: right;
		color: #fff;
	}

	#footer-arrow a {
		color: #ABD0BC;
		text-decoration: underline;
	}

	#footer-arrow a:hover {
		color: #fff;
	}
	
	
/***********************/
/* LAYOUT & CONTAINERS */
/***********************/
	#container {
		clear: both;
		height: auto !important;
		margin-bottom: -31px;
		min-height: 100%;
		min-width: 1150px;
	}
	
	#content-wrapper-1 {
		clear:both;
		z-index: 1;
		background-color: #FFFFFF;
		min-height: 500px;
		min-width: 900px;
		padding: 7px;
		overflow: auto;
	}
	div#content-wrapper-1 h1 {
		color: #000000;
		font-size: 110%;
		font-weight: bold;
		text-transform: uppercase;
		border-bottom: 1px solid #AAAAAA;
		margin-bottom: 5px;
		padding-bottom: 1px;
	}

	div#content-wrapper-1 h3 {
		margin-bottom: 5px;
		border-bottom: 1px dimgray solid;
		padding-bottom: 1px;
	}

	div#content-wrapper-1 h1.elrhdg {
		font-size: 20pt;
		text-transform: none;
		color: chocolate;
	}

	#footer-wrapper-1 {
	  height: 150px;
	  background: url('../img/bg-footer.jpg') repeat-x;
	  margin: 0 auto 0 auto;
	  font-size: 90%;
	}
	

/****************************/
/* latestTasks TABLE STYLES */
/****************************/
	#latestTasks {
		background-color: #deecf4;
		border: 1px solid #bfcfd8;
		width: 100%;
	}
	
	#latestTasks caption {
		height: 35px;
		line-height: 34px;
		color: #FFF;
		background: url('../img/latest-tasks-caption.png') repeat-x;
		border: 1px solid #bfcfd8;
		border-bottom: 0;
		font-size: 1.2em;
		text-align: left;
		font-weight: bold;
		padding-left: 19px;
		margin-left: -1px;
	}
	
	#latestTasks th {
		height: 39px;
		line-height: 15px;
		text-transform: uppercase;
		color: #7da0b1;
		font-weight: bold;
		font-size: 1em;
		text-align: left;
		vertical-align: bottom;
		padding-left: 15px;
		padding-top: 8px;
		padding-bottom: 5px;
		border-top: 1px solid #bfcfd8;
		border-bottom: 2px solid #bfcfd8;
	}
	
	#latestTasks td {
		padding: 10px 15px 5px 15px;
		vertical-align: top;
		border-top: 1px solid lightgrey;
		border-bottom: 1px solid lightgrey;
		/*border-left: 1px solid #bfcfd8;*/
	}
	

/*************************/
/*  Vocab Manager Styles */
/*************************/
	.colheader {
		text-align: left;
		vertical-align: bottom;
		line-height: 15px !important;
	}

	#addnew_button {
		float: right;
		width: auto;
	}

	#onboard_button {
		float: right;
		width: auto;
		margin-right: 10px;
	}

	#q {
		font-family: 'Open Sans' !important;
	}
	
	.vocab_filter {
		clear: both;
		margin: 0px 10px;
		margin-bottom: 20px;
		width: auto;
		display: inline-block;
		padding: 5px;
		border: 1px lightgrey solid;
	}

	.vocab_search {
		clear: both;
		margin: 10px;
		width: auto;
		padding-left: 5px;
	}

	.vocab_results_header {
		display: block;
		width: auto;
		height: 35px;
		line-height: 33px;
	}

	.vocab_results_colheader {
		display: inline;
		width: auto;
		font-weight: bold;
		margin: 0px;
		padding: 3px;
		border-bottom: 2px dimgray solid;
	}

	.vocab_row_hover {
		background-color: paleturquoise !important;
	}

	.vocab_paging_top {
		margin-left: 10px;
		margin-bottom: 2px;
		float: left;
	}

	.vocab_paging_bottom {
		margin-left: 10px;
		margin-top: 3px;
		margin-bottom: 30px;
		clear: right;
	}

	.vocab_query {
		line-height: 1.9;
		width: 30em;
	}

	.vocab_filter_container {
		display: inline;
		float: left;
		margin-left: 20px;
		margin-bottom: 10px;
	}

	.vocab_filter_checklist {
		width: auto;
		min-width: 12em;
		height: 7em;
		overflow-x: hidden;
		overflow-y: auto;
		border: 1px #999 solid;
		padding: 3px;
		background-color: white;
	}

	.addnew_lookup_container {
		display: inline;
		float: left;
	}

	.addnew_lookup_checklist {
		width: 300px;
		height: 7em;
		overflow-x: hidden;
		overflow-y: auto;
		border: 1px solid #BCBCBC;
		padding: 3px;
		background-color: lightcyan;
	}

	label.vocab_search_form, label.vocab_search_form2, label.vocab_add_form {
		font-weight: 400;
		font-family: 'Francois One', Arial, sans-serif;
		-moz-user-select: none;
		-khtml-user-select: none;
		-webkit-user-select: none;
		user-select: none;
	}

	label.vocab_add_form, label.vocab_search_form2 {
		font-size: 11pt;
	}

	label.vocab_search_form {
		font-size: 15pt;
	}

	.vocab_filter_select, .vocab_filter_selectall, .vocab_filter_selectnone {
		font-size: 7pt !important;
		text-transform: uppercase;
		-moz-user-select: none;
		-khtml-user-select: none;
		-webkit-user-select: none;
		user-select: none;
	}

	.vocab_filter_selectall, .vocab_filter_selectnone {
		color: cornflowerblue;
		cursor: pointer;
		font-weight: 700 !important;
	}

	.pseudo_select_label {
		padding: 3px;
		line-height: 1.8em;
		font-family: 'Open Sans' !important;
	}

	.pseudo_select_label:hover {
		text-decoration: underline;
	}

	.pseudo_select_on {
		background-color: cornflowerblue;
		color: white;
	}

	#toggle_filters, #toggle_bulk {
		margin-left: 20px;
	}

	.search_empty {
		color: #aaa;
	}

	.import_widget {
		clear: both;
		margin: 20px 10px;
		width: auto;
	}

	.import_error {
		margin: 20px 10px;
	}

	.import_error ul {
		margin-left: 50px;
	}

	.import_error li {
		list-style-type: disc;
	}

	.even_row {
		background-color: ghostwhite;
	}

	.odd_row {
		background-color: lavender;
	}

	.all_row {
		background-color: #fff;
	}

	.focus_row {
		background-color: palegreen !important;
	}

	#labResults {
		width: 100%;
	}

	#labResults th, #labResults td {
		width: auto;
		padding: 5px;
		border-bottom: 1px lightgray solid;
		font-size: 10pt;
		line-height: 9pt;
	}

	#labResults th {
		border-bottom: 2px dimgray solid;
		text-align: left;
		font-family: 'Francois One', Arial, sans-serif;
		font-size: 1.1em;
		font-weight: 400;
		padding-bottom: 2px;
	}
	
	#labResults td {
		font-family: 'Open Sans', Arial, Helvetica, sans-serif !important;
		font-weight: 400;
	}

	#labResults td strong {
		font-weight: 600;
		color: black;
	}

	#labResults td.action_col {
		width: 50px;
		text-align: center;
		white-space: nowrap;
	}

	.lab_results_container {
		clear: both;
		width: auto;
		margin: 10px;
		margin-top: 20px;
	}

	.addnew_lab {
		clear: both;
		margin: 12px;
		margin-top: 15px;
		width: auto;
		padding: 10px;
		display: none;
	}

	.addnew_lab .vocab_search_form2, .addnew_lab button {
		margin-left: 15px;
		margin-right: 5px;
	}

	.edit_vocab_form {
		clear: both;
		margin: 12px;
		margin-top: 15px;
		width: auto;
		padding: 10px;
	}

	.edit_vocab_form .vocab_search_form2, .edit_vocab_form button {
		margin-left: 15px;
		margin-right: 5px;
	}

	.addnew_field {
		display: inline-block;
		margin-left: 15px;
		margin-right: 5px;
		margin-bottom: 10px;
		width: auto;
		min-width: 150px;
		height: auto;
		text-align: left;
		vertical-align: bottom;
	}

	.addnew_field_vs {
		display: inline-block;
		margin-left: 15px;
		margin-right: 5px;
		margin-bottom: 10px;
		width: 100%;
		height: auto;
		text-align: left;
		vertical-align: bottom;
		clear: both;
	}

	.add-form-divider {
		clear: both;
		border-bottom: 1px gray dotted;
		margin-bottom: 7px;
	}

	#new_lab_form input, #new_lab_form select, #edit_lab_form input, #edit_lab_form select, #new_onboard_form input, #new_onboard_form select {
		width: auto;
		min-width: 150px;
		margin: 0px;
		background-color: lightcyan;
		font-family: Consolas, 'Courier New';
		font-weight: 400;
		font-size: 10pt;
		line-height: 14pt;
	}

	#new_onboard_form textarea {
		background-color: lightcyan;
		font-family: Consolas, 'Courier New';
		font-weight: 400;
		font-size: 10pt;
		line-height: 11pt;
	}

	#edit_modal_form input, #edit_modal_form select {
		width: 100%;
		margin: 0px;
		background-color: lightcyan;
		font-family: Consolas, 'Courier New';
		font-weight: 400;
		font-size: 10pt;
		line-height: 14pt;
	}

	.edit_radio {
		width: auto !important;
		min-width: 0px !important;
	}

	#new_vocab_form input, #new_vocab_form select, #edit_vocab_form input, #edit_vocab_form select {
		width: auto;
		min-width: 150px;
		/* max-width: 500px; */
		margin: 0px;
		background-color: lightcyan;
		font-family: Consolas, 'Courier New', Courier, serif;
		font-size: 10pt;
		line-height: 14pt;
	}

	#new_vocab_form .pseudo_select, #edit_vocab_form .pseudo_select {
		min-width: 0;
	}

	#new_vocab_form textarea, #edit_vocab_form textarea {
		display: block;
		width: 300px;
		height: 4em;
		margin: 0px;
		background-color: lightcyan;
		font-family: Consolas, 'Courier New', Courier, serif;
		font-size: 10pt;
		line-height: 14pt;
	}

	a.vocab_xref:active, a.vocab_xref:hover, a.vocab_xref:link, a.vocab_xref:visited {
		color: #005D9C;
	}
	
	
/************************/
/* EMSA-Specific Styles */
/************************/
	fieldset.emsa-list {
		margin: 10px;
		margin-bottom: 30px;
		padding: 10px;
		font-family: 'Francois One', Arial, sans-serif !important;
		font-weight: 400;
		cursor: default;
	}
	
	fieldset.emsa-list th {
		font-family: 'Francois One', Arial, sans-serif;
		font-weight: 400;
	}

	legend.emsa-list-legend {
		font-family: 'Francois One', Arial, sans-serif !important;
		font-weight: 400;
		font-size: 15pt;
		color: darkred;
		padding: 3px 10px;
		background-image: none;
		background-color: ivory;
		box-shadow: 3px 3px 7px #aaa;
	}

	.emsa_results_container {
		clear: both;
		width: auto;
	}

	.emsa_dupsearch {
		display: none;
	}

	.ctrlclicked, tr.ctrlclicked > td {
		font-weight: 700 !important;
		background-color: hotpink !important;
	}

	label.emsa_search_results {
		font-weight: bold;
		color: darkred;
		font-size: 10pt;
		margin: 3px;
	}

	.emsa_results tbody tr.emsa_dupsearch > td, .emsa_results tbody tr.emsa_dupsearch:hover > td {
		background-color: lightgreen;
		color: black;
		cursor: default;
		border: 2px dimgray solid;
		padding: 0px;
	}

	.emsa_results, .emsa_search_results, .emsa_search_results_header, .emsa_eventsearch_results {
		width: 100%;
		border-collapse: collapse;
	}

	.emsa_results {
		margin-bottom: 10px;
	}

	.emsa_results th, .emsa_results td {
		width: auto;
		text-align: left;
		font-weight: 400;
	}

	.emsa_results th {
		border-bottom: 2px darkgray solid;
		padding: 5px;
		font-size: 11pt;
		line-height: 10pt;
		color: dimgray;
	}

	.emsa_results td {
		border-bottom: 1px lightgray solid;
		padding: 5px;
		font-size: 9pt;
		line-height: 11pt;
		color: black;
		cursor: pointer;
		background-color: ghostwhite;
	}

	.emsa_results tbody tr:hover > td {
		background-color: steelblue;
		color: lightcyan;
	}

	.emsa_overdue > td {
		background-color: #ff6666 !important;
	}

	.emsa_overdue > td:first-child {
		padding-left: 30px;
		background-image: url("../img/alarm_16.png") !important;
		background-repeat: no-repeat;
		background-position: 6px 50%;
	}

	.emsa_overdue:hover > td {
		background-color: firebrick !important;
	}

	tr.emsa_overdue > td.emsa_results_search_parent {
		background-color: firebrick !important;
	}

	.emsa_results_search_parent {
		background-color: steelblue !important;
		color: lightcyan !important;
		font-weight: 700 !important;
	}

	.person_match_found > td {
		background-color: limegreen !important;
	}

	.person_match_found:hover > td {
		background-color: gold !important;
	}

	.emsa_dup_dimmed > td {
		color: dimgray !important;
	}

	.emsa_dup_dimmed:hover > td {
		color: lightgray !important;
		background-color: dimgray !important;
	}

	.emsa_dupsearch_tabset .emsa_nosearch {
		display: none !important;
	}

	.emsa_address_valid {
		background-color: forestgreen !important;
		color: white !important;
	}

	.emsa_address_invalid {
		background-color: firebrick !important;
		color: white !important;
	}

	.emsa_paging {
		font-size: 10pt;
	}

	.emsa_paging strong {
		font-weight: 600 !important;
	}

	.emsa_paging a:link, .emsa_paging a:active, .emsa_paging a:visited {
		color: #005D9C;
	}

	.emsa_paging a:hover {
		color: navy;
	}

	.emsa_search_results td {
		background-color: lightgreen;
		font-size: 9pt;
		line-height: 11pt;
		color: black;
		border-bottom: 1px #bbb solid;
		cursor: pointer;
	}

	.emsa_search_results tr.no_person_match td {
		background-color: tomato;
		font-style: italic;
		font-weight: 700;
	}

	.emsa_search_results tr.no_person_match:hover > td {
		background-color: orange;
	}

	.emsa_search_results tbody tr:hover > td {
		background-color: yellow;
		color: black;
	}

	.event_match_person td {
		background-color: lightgreen;
		font-size: 9pt;
		line-height: 11pt;
		color: black;
		border-top: 1px #666 solid;
		border-bottom: none;
		font-weight: 400;
		cursor: pointer;
	}

	.event_match_events td {
		background-color: palegoldenrod !important;
		font-size: 8pt;
		line-height: 11pt;
		color: black;
		border-bottom: none;
		font-weight: 400;
		cursor: default;
		padding-left: 25px;
	}

	.first_event_match td {
		box-shadow: 0 10px 10px -10px #333 inset;
	}

	.emsa_eventsearch_results tr.no_person_match td {
		background-color: tomato;
		font-style: italic;
		font-weight: 700;
	}

	.emsa_eventsearch_results tr.no_person_match:hover > td {
		background-color: orange;
	}

	.emsa_eventsearch_results tbody tr:hover > td {
		background-color: yellow;
		color: black;
	}

	.ui-tabs, .ui-tabs li, .ui-tabs label {
		font-family: 'Francois One', Arial, sans-serif !important;
		font-weight: 400;
	}

	.ui-tabs .ui-tabs-nav li a {
		font-size: 11pt !important;
		font-weight: 400 !important;
		padding: 0.3em 1.0em !important;
	}

	.emsa_tabset_content {
		padding: 0px !important;
		margin: 10px;
		height: auto;
		max-height: 300px;
		max-width: 100%;
		overflow: auto;
	}

	.emsa_tabset_content_ps {
		overflow: hidden !important;
		max-height: none;
	}

	.emsa_sr_scroller {
		overflow: auto !important;
		height: 250px;
	}

	table.list tbody tr:hover > td, table.list tbody tr > td {
		background-color: ivory;
		color: black;
		cursor: default;
		font-size: 9pt;
	}

	table.list th {
		background-color: mintcream;
		color: olivedrab;
		font-family: 'Francois One', Arial, sans-serif !important;
		font-weight: 400 !important;
		font-size: 12pt;
		padding: 7px 5px 2px 5px !important;
	}

	.cultureentry_active {
		background-color: yellow !important;
	}

	table.list {
		width: 100%;
	}

	table.list select, table.list input, table.list textarea {
		font-family: inherit;
		font-weight: inherit;
		font-size: inherit;
		font-style: inherit;
		color: inherit;
		margin: 0px;
	}

	table.list select:disabled, table.list input:disabled, table.list textarea:disabled {
		border: 0;
		background-color: inherit;
	}

	pre {
		width: 100px;
		font-family: Consolas, 'Courier New', courier;
	}

	#emsa_toolbar, #emsa_qa_toolbar {
		background-color: mistyrose;
		background-image: none;
		display: inline-block;
		width: auto;
		padding: 5px 15px;
		margin-bottom: 10px;
		border: 1px #bbbbbb solid;
		box-shadow: 2px 2px 4px #999;
	}

	#emsa_toolbar label, #emsa_qa_toolbar label {
		font-weight: 400;
		margin-right: 15px;
		font-size: 1.2em;
	}

	#emsa_toolbar select, #emsa_qa_toolbar select {
		font-family: 'Open Sans';
		font-weight: 400;
	}
	
	#emsa_toolbar input, #emsa_qa_toolbar input {
		font-family: 'Open Sans';
		font-weight: 400;
		width: 200px;
		padding: 3px;
	}

	.emsa_toolbar_separator {
		border-left: 1px #aaaaaa dotted; display: inline; margin: 0px 7px; height: 50px;
	}

	.audit_log {
		width: 100%;
	}

	.audit_log th, .audit_log td {
		font-family: Consolas, 'Courier New', Courier !important;
		background: none;
		font-size: 1em !important;
	}

	.audit_log th {
		font-weight: 700 !important;
	}

	.audit_log tbody tr:hover > td {
		background: none;
		cursor: default;
		color: black;
	}
	
	.emsa_results.audit_log td {
		vertical-align: top !important;
	}

	#result_rules th, #result_rules td {
		text-transform: none;
		font-size: 8pt;
		font-weight: 400;
		width: auto;
		height: auto;
		padding: 2px;
		margin: 0px;
		color: #333333;
		background-color: ghostwhite;
		text-align: left;
		vertical-align: middle;
		border: 0px;
	}

	#result_rules th {
		background-color: #EEEEEE !important;
		font-weight: 700;
		color: dimgray;
		border-bottom: 1px lightgray solid;
	}

	#result_rules td.action_col {
		text-align: right;
	}

	#result_rules tr.vocab_row_hover {
		background: ghostwhite !important;
	}

	#result_rules {
		border: 1px lightgray solid;
		box-shadow: 0px 0px 5px #CCCCCC;
	}

	#rule_mod_dialog td, #rule_mod_cmr_dialog td {
		padding: 3px;
		white-space: nowrap;
	}

	#rule_mod_dialog input, #rule_mod_dialog select, #rule_mod_cmr_dialog input, #rule_mod_cmr_dialog select {
		background-color: lightcyan;
		font-family: Consolas, 'Courier New', Courier, serif;
		font-size: 10pt;
		line-height: 14pt;
	}

	#rule_mod_dialog textarea, #rule_mod_cmr_dialog textarea {
		background-color: lightcyan;
		font-family: Consolas, 'Courier New', Courier, serif;
		font-size: 10pt;
		line-height: 14pt;
		width: 80%;
		height: 3em;
	}

	#rule_mod_dialog h2, #rule_mod_dialog h3, #rule_mod_cmr_dialog h2, #rule_mod_cmr_dialog h3 {
		margin-bottom: 5px;
		border-bottom: 1px dimgray solid;
		font-family: 'Francois One', Arial, sans-serif;
		font-weight: 400;
	}

	#rulemod_condition_container {
		border-bottom: 2px dimgray solid;
	}

	.rulemod_condition {
		cursor: default;
		padding: 5px;
		border-bottom: 1px dimgray dotted;
	}

	.rulemod_condition:hover {
		background-color: khaki;
	}

	.labresults_hover {
		background-color: lightskyblue;
	}

	label.required {
		color: red;
	}

	#bulk_form {
		display: inline-block;
	}

	.ui-datepicker, .ui-datepicker-month, .ui-datepicker-year { font-family: 'Open Sans' !important; }
	.ui-button-text { font-family: 'Open Sans'; font-weight: 600; }
	.ui-state-highlight, .ui-state-error { font-family: 'Open Sans'; font-weight: 400; }

	.ui-state-highlight strong, .ui-state-error strong {
		font-weight: 600 !important;
	}

	.ui-dialog-title {
		font-family: 'Francois One', Arial, sans-serif; font-weight: 400; font-size: 1.5em;
		text-shadow: 1px 1px 6px dimgray;
	}
	
	.ui-dialog {
		box-shadow: 4px 4px 15px dimgray;
	}
	
	#view_xml_dlg {
		overflow: hidden !important;
	}
	
	
/*******************/
/* Custom UI Icons */
/*******************/
	.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text { padding-left: 2.3em !important; }
	.ui-icon-header { width: 48px; height: 48px; display: inline-block; vertical-align: middle; margin-right: 10px; margin-bottom: 3px; }
	
	.ui-icon[class*='ui-icon-elr'] { background-image: url("../img/sprites.png") !important; background-repeat: no-repeat; }
	
	.ui-icon-elrclose { background-position: -100px -17px; }  /* delete_16 */
	.ui-icon-elrdelete { background-position: -100px -34px; }  /* document_delete_16 */
	.ui-icon-elradd { background-position: -83px -34px; }  /* document_add_16 */
	.ui-icon-elraddfolder { background-position: -83px -51px; }  /* folder_add_16 */
	.ui-icon-elrplus { background-position: -100px -68px; }  /* plus_16 */
	.ui-icon-elrpencil { background-position: -83px -68px; }  /* pencil_16 */
	.ui-icon-elrback { background-position: -66px 0; }  /* arrow_left_16 */
	.ui-icon-elraddcmr { background-position: -49px 0; }  /* add_user_16 */
	.ui-icon-elrupdatecmr { background-position: -49px -185px; }  /* update_person_16 */
	.ui-icon-elrmove { background-position: -49px -68px; }  /* open_16 */
	.ui-icon-elredit { background-position: -49px -134px; }  /* sign_up_16 */
	.ui-icon-elrrules { background-position: -49px -17px; }  /* chart_16 */
	.ui-icon-elrretry { background-position: -98px -85px; }  /* recycle_16 */
	.ui-icon-elrview { background-position: -66px -34px; }  /* document_16 */
	.ui-icon-elrsearchglobe { background-position: -98px -119px; }  /* search_globe_16 */
	.ui-icon-elrcancel { background-position: -100px 0; }  /* cancel_16 */
	.ui-icon-elrsave { background-position: -66px -51px; }  /* floppy_16 */
	.ui-icon-elrsearch { background-position: -49px -219px; }  /* views_16 */
	.ui-icon-elrerror { background-position: -49px -51px; }  /* error_16 */
	.ui-icon-elrstop { background-position: -49px -151px; }  /* stop_sign_16 */
	.ui-icon-elrsuccess { background-position: -49px -168px; }  /* tick_16 */
	.ui-icon-elrxml-small { background-position: -83px -17px; }  /* content_tree_16 */
	.ui-icon-elrimport-small { background-position: -49px -202px; }  /* upload_16 */
	.ui-icon-elroptions { background-position: -66px -68px; }  /* options_16 */
	.ui-icon-elron { background-position: -100px -51px; }  /* green_ball_16 */
	.ui-icon-elroff { background-position: -98px -102px; }  /* red_ball_16 */
	.ui-icon-elrbacteria { background-position: -83px 0; }  /* bacteria_16x16 */
	.ui-icon-elrxml { background-position: -117px -49px; }  /* content_tree_48 */
	.ui-icon-elrxmlrules { background-position: 0 -49px; }  /* content_reorder_48 */
	.ui-icon-elrsettings { background-position: 0 -147px; }  /* gear_48 */
	.ui-icon-elrlab { background-position: 0 0; }  /* casa_48 */
	.ui-icon-elrglossary { background-position: -115px -147px; }  /* glossary_48 */
	.ui-icon-elrimport { background-position: -115px -196px; }  /* upload_48 */
	.ui-icon-elremsa { background-position: -66px -185px; }  /* patientfile_48 */
	.ui-icon-elredituser { background-position: -49px -85px; }  /* edit_user_48 */
	.ui-icon-elrcategory { background-position: -66px -136px; }  /* folder_documents_48 */
	.ui-icon-elrnotify { background-position: 0 -98px; }  /* email_warning_48 */
	.ui-icon-elraudit { background-position: -117px 0; }  /* chronologicalreview_48 */
	.ui-icon-elrerrorbig { background-position: -115px -98px; }  /* error_48 */
	.ui-icon-elrdashboard { background-position: 0 -196px; }  /* stats_48 */
	.ui-icon-elraddcomment { background-position: -66px -17px; }  /* comment_add_16 */
	.ui-icon-elrviewdocument { background-position: -49px -34px; }  /* document2_16 */
