/*************************/
/* Dashboard & Reporting */
/*************************/
@media all {

	strong.big_strong {
		font-family: 'Francois One', sans-serif;
		font-weight: 400 !important;
		font-size: 12pt;
		margin-left: 3px;
		color: #333;
	}
	
	.google-visualization-table-th {
		font-family: 'Open Sans', Arial, Helvetica;
		font-weight: 700;
		font-size: 9pt; 
	}
	
	.google-visualization-table-td {
		font-family: 'Open Sans', Arial;
		font-size: 9pt; 
	}
	
	.date_range {
		font-family: 'Open Sans', Arial;
		font-weight: bold;
		font-size: 9pt;
		line-height: 1em;
		padding: 0.5em 1em;
		margin: 0px 3px;
	}
	
	.lab_selector {
		font-family: 'Open Sans', Arial;
		font-weight: bold;
		font-size: 9pt;
		line-height: 1em;
		padding: 0.4em 0.5em;
		margin: 0px 3px;
	}
	
	.report_widget {
		cursor: default;
		display: inline-block;
		position: relative;
		float: left;
		width: 500px;
		height: 325px;
		border: 1px lightgray solid;
		margin: 10px;
		padding: 5px;
		box-shadow: 2px 2px 5px 0px lightgray;
	}
	
	#date_filter {
		position: absolute;
		z-index: 999;
		top: 43px;
		right: 15px;
	}
	
}

@media print {

	header, .reporting_filters, #footer-wrapper {
		display: none;
	}
	
}