/* HEADER */

    header { width: 100%; height: 30px; background: #254779 url("../images/header-nav-bg.png") repeat-x scroll 0 0; font-family: Tahoma,Geneva,sans-serif; font-weight: 500; font-size: 12px; }
	
    #logo, .menu_divider {
		display: block;
		font-size: 20px;
		font-weight: bold;
		text-transform: uppercase;
		color: #FFFFFF;
		float: right;
		padding: 0 5px 0 0;
		left: -5px;
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		line-height: 1.5em;
	}
	
	.menu_divider { padding: 0 5px; color: gainsboro; font-weight: 300; font-size: 22px; line-height: 1.3em; }
    .current { font-weight: bold; color: greenyellow !important; }
	.activetab { color: #000 !important; background-color: #FFF; }
	
    /* Standard Navigation */
	nav, .current { display: block; float: left; margin: 0px 0px 0 0; }
	nav a.mobile_handle { display: none; }
	nav ul { display: block; }
	nav ul li { display: inline; position: relative; float: left; list-style: none; }
	nav ul a, nav ul a:link, nav ul a:visited, .current { display: block; float: left; padding: 2px 7px 4px 7px; margin: 0; line-height: 25px; color: #fff; }
	nav ul a:hover, nav ul a:active { text-decoration: underline; background-color: white; background-color: rgba(255, 255, 255, .9); color: #000; }
	nav ul a.current:hover, nav ul a.current:active { color: #000 !important; }
	
	/* Sub-Nav */
	nav ul ul { display: none; position: absolute; top: 30px; left: 7px; width: 175px; padding: 5px; background-color: #000; background-color: rgba(0, 0, 0, 0.8); box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.4); }
	nav ul ul li { display: block; float: none; clear: both; }
	nav ul ul a, nav ul ul a:link, nav ul ul a:visited { display: block; float: none; border: 0; padding: 8px 5px; margin: 0; color: #fff; line-height: 10px; }
	nav ul ul a:hover, nav ul ul a:active { text-decoration: underline; color: #fff; background-color: rgba(0, 0, 0, .0); }
	nav ul ul a.current:hover, nav ul a.current:active { color: greenyellow !important; }
	
	/* Third-Level */
	nav ul ul ul { top: 0; left: 180px; }

/* MEDIA QUERY */

    @media (max-width: 650px){
        
        body { margin-top: 40px; font-size: 18px; } /* Nudge margin-top to leave room for handle */
        
        nav { position: fixed; float: none; margin: 0; padding: 0; top: 0; left: 0; width: 100%; }
        
        nav a.mobile_handle { display: block; padding: 10px; background: #a8acbf; text-align: center; }
        
        nav ul { display: none; }
        nav ul li { display: block; position: relative; float: none; padding: 0; background: #ccc; border-top: 1px solid #999; }
        nav ul a, nav ul a:link, nav ul a:visited { display: block; position: relative; float: none; padding: 15px 10px; clear: both; }
            
        /* Second Level */
        nav ul ul { display: none; position: relative; width: 100%; top: 0; left: 0; margin: 0; padding: 0; background: none; border-bottom: 2px solid #999; }
		nav ul ul a, nav ul ul a:link, nav ul ul a:visited { color: #000; padding: 15px 10px 15px 25px; }
            
        /* Third level */
        nav ul ul ul { top: 0; left: 0; }
		nav ul ul ul a, nav ul ul ul a:link, nav ul ul ul a:visited { padding: 15px 10px 15px 45px; }
            
        nav .sub_nav { position: absolute; right: 0; top: 0; width: 10%; padding: 15px 20px; margin: 0; cursor: pointer; }
        nav .arrow_up { float: right; width: 0; height: 0; padding: 0; border-left: 10px solid transparent; border-right: 10px solid transparent; border-bottom: 10px solid #000; }
        nav .arrow_down { float: right; width: 0; height: 0; padding: 0; border-left: 10px solid transparent; border-right: 10px solid transparent; border-top: 10px solid #000; }
    
    }