/* HEADER */

	nav ul a:hover, nav ul a:active { text-decoration: underline; background-color: white; color: #000; }
	nav ul ul { display: none; position: absolute; top: 30px; left: 7px; width: 175px; padding: 5px; background-color: dimgray; }
	nav ul ul a:hover, nav ul ul a:active { text-decoration: underline; color: #fff; }
	
	nav ul li { display: inline; position: relative; list-style: none; }
	
	.menu_divider { float: none; }